:root {
  --text-color: #333;
  --floral-white: #f5f1e8;
  --roman-silver: #878a98;
  --space-cadet: #1c254a;
  --space-cadet-light: #5b63be;
  --body-font: "Inter", sans-serif;
  --heading-font: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--floral-white);
  font-size: 1.2rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--space-cadet);
}

h2 {
  font-size: 2rem;
}

img {
  display: block;
  width: 100%;
}

a {
  color: var(--space-cadet);
  text-decoration: none;
}

main {
  max-width: 50rem;
  align-self: center;
  margin: 0 1.5rem;
}

.home main {
  max-width: 80rem;
}

.hero {
  position: relative;
}

.hero .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 2rem;
}

.hero h1 {
  font-size: clamp(4rem, 7vw, 7rem);
  color: var(--floral-white);
  font-weight: 700;
  text-shadow: 2px 2px #000;
  line-height: 1;
  margin: 0;
}

.hero p {
  color: var(--floral-white);
  font-size: 1.6rem;
  line-height: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 80rem;
}

nav a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
}

nav a:not([href]) {
  color: var(--roman-silver);
}

nav a::after {
  content: "";
  display: block;
  width: calc(100% + 12px);
  height: 3px;
  margin-left: -6px;
  margin-top: 6px;
  background-color: var(--space-cadet-light);
  transform: scale(0);
  transition: transform 200ms ease-in, color 300ms ease-in;
  transform-origin: right;
}

nav a[href]:hover {
  color: var(--space-cadet-light);
}

nav a[href]:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* start menu paste */
.main-menu .menu-icon {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: pink;
}

.main-menu svg {
  stroke: ivory;
  stroke-width: 4px;
  stroke-linecap: round;
  padding: 12px;
}

.main-menu svg line {
  transform-origin: center;
  transition: transform 200ms ease;
}

.main-menu svg line:first-child {
  transform: translateY(8px);
}

.main-menu svg line:last-child {
  transform: translateY(-8px);
}

.menu-show .menu-icon {
  background-color: magenta;
}

.menu-show svg line {
  stroke: greenyellow;
  stroke-width: 5px;
}

.menu-show svg line:first-child {
  transform: rotate(135deg);
}

.menu-show svg line:last-child {
  transform: rotate(-135deg);
}

/* end menu paste */

@media (min-width: 601px) {
  .hero {
    height: 80vh;
  }
  .hero img {
    height: 100%;
    object-fit: cover;
  }

  .panel .text-wrapper {
    flex: 1 1 50%;
  }

  .panel .image-wrapper {
    flex: 1 1 50%;
  }

  nav {
    position: static;
    background-color: transparent;
    margin: 2rem 1.5rem 6rem;

    background-color: pink;
  }
}
